#General vars
password=$1 						# passata allo script da fuori
#Mount vars
SourceIP="192.168.1.100"				# ip dove risiede la share da montare
DestPath="$HOME"					# path di destinazione
timestamp="date +%d-%m-%Y_%T"				# timestamp
DestLogPath="$DestPath/logMM"				# destinazione dei log, non terminare la stringa con /
logfile="$DestLogPath/log_monta.log"			# nome del file di log
scriptname="$(basename "$0")"				# nome script
fileLogName="log_monta.log"				# nome del file di log generico da cercare
